.logoHolder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoDisplay {
    min-height: 405px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(255, 255, 255);

}
.logoHolder Img {
    width: 70%;
}
.seasonalDisplay img {
    width: 100%;
    overflow: hidden;
}
.seasonalDisplay h1 {
    position: absolute;
    font-size: 4rem;
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(214, 217, 218);
    text-shadow:
    2px  2px 0 #000, 
   -2px  2px 0 #000, 
    2px -2px 0 #000, 
   -2px -2px 0 #000, 
    1px  1px 0 #000, 
   -1px  1px 0 #000,
    1px -1px 0 #000,
   -1px -1px 0 #000;
    letter-spacing: 3px;
    top: 15%;
    left: 10%;
    right: 10%;
}
.spotlight {
    border-bottom: 1px solid black;
}
.spotlightHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    background-color: rgb(214, 217, 218);
    color: white;
    text-shadow: 3px 3px 4px #000000;
    padding-top: 10px;
    margin-top: -5px;
    letter-spacing: 5px;
}
.spotlightHeader span {
    color: red;
    letter-spacing: 3px;
    
}
.spotlightHeader h4 {
    margin-top: -10px;
}
.spotlightContainer {
    width: 100%;
    display: flex;
    background-color: rgb(214, 217, 218);
    justify-content: center;
}
.productSpotlight img {
    height: 550px;
    width: 300px;
    padding: 3px;
    margin-bottom: -5px;
}
.productSpotlight {
    max-height: 600px;
}

/* This makes the Text animate in over the product display */
.overlay {
    height: 550px;
    width: 280px;
    opacity: 0;
    margin-left: 0px;
    position: relative;
    bottom: 555px;
    font-size: 25px;
    font-weight: bold;
    transition: opacity 0.25s;
}
.overlay:hover {
    opacity: 1;
}
.overlay > .upperText {
    transform: translateY(-20px);
    transition: transform 0.45s;
}
.overlay:hover > .upperText {
    transform: translateY(10px)
}
.upperText {
    color: rgb(255, 255, 255);
    position: relative;
    top: 25px;
    width:100%;
    padding-left: 15px;
    text-shadow: 2px 2px 4px #000000;
    
}
.lowerText {
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 20px;
    left: 40%;
    text-shadow: 2px 2px 4px #000000;
    
}