.cartContainer {
    width: 40%;
    position: absolute;
    z-index: 999;
    right: 0px;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    border: 1px solid gray;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    border-bottom: 1px solid black;
   
}
.buttons p {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
}
.shoppingCart h1 {
    position: relative;
    bottom: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    letter-spacing: 2.5px;
    margin-top: 10px;
}
.closeMenu {
    font-size: 20px;
    border: 1px solid black;
    position: absolute;
    padding-right: 5px;
    padding-left: 5px;
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 20%;
}
.deleteItem {
    border: 1px solid black;
    border-radius: 10%;
    font-size: 35px;
    margin-left: 5px;
    background-color: whitesmoke;
    min-width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.deleteItem:hover {
    background-color: rgb(248, 86, 86);
}
.checkout p {
    cursor: pointer;
}

.cartItem {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: rgb(214, 217, 218);

}
.cartItem img {
    max-width: 180px;
    max-height: 180px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
}
.pDetails {
    display: flex;
}
.checkout {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    margin-bottom: -20px;
}
.checkout p {
    border-radius: 5px;
    border: 3px solid rgb(54, 54, 54);
    padding: 15px;
    width: 45%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 71, 71);
}
.cartTop {
    padding: 10px;
    background-color: rgb(214, 217, 218);
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    border-bottom: 2px solid black;
}
.cartTop h1 {
    font-family:'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 40px;
    margin-top: 12px;
}
.logReminder {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
    width: 80%;
    font-size: 22px;
    color: white;
    background-color: blue;
    border: 2px solid black;
    border-radius: 20px;
}
.details h3 {
    padding: 10px;
    margin-top: -5px;
    margin-bottom: -10px;
}
.details {
    max-width: 50%;
}
.pDetails p {
    font-size: 1.25rem !important;
}