.itemlist2 {
    width: 90%; 
    min-height: 200px;
}
.checkoutContainer {
    min-height: 1075px;
}
.checkoutContainer h1 {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: -150px;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    letter-spacing: 2px;
}
.checkoutItem h4 {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    margin: 0;
}
.productInfo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-direction: column;
}
.productInfo h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 5px 0;
    color: #333;
}
.infoContainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    min-height: 1050px;
    margin-top: 0px;
}
.infoContainer h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    font-size: 50px;
    margin-top: 60px;
    color: white;
}
.headerHolder {
    width: 50%;
    height: 100%;
    min-height: 300px;
    background-color: blue;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
   
}
.infoContainer2 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    min-height: 800px;
    background-color: #fafafa;
}
.paymentContainer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
}
.logLink {
    color: blue;
    text-decoration: underline;
    padding-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
}
.checkoutItem {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 1fr;
    align-items: center;
    height: 180px;
    font-size: 18px; 
    background-color: #e2e2e2;
    border: 2px solid #acacac; 
    border-radius: 10px; 
    margin-bottom: 10px; 
    padding: 10px; 
}
.removeText {
    font-family: 'Bebas Neue', cursive;
    color: #ff3333;
    text-shadow: 1px 1px 1px #888;
    letter-spacing: 1px;
    padding: 5px 10px;
    background-color: #fff;
    border: 2px solid #ff3333;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s;
}
.removeText:hover {
    background-color: #ffcccc;
}
.checkoutItem img {
    width: 150px;
    height: 150px;
    object-fit: contain; 
    padding-left: 5px;
}
.qtyContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.qtyContainer p {
    font-size: 35px; 
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}
.qtyContainer p:hover {
    background-color: #e0e0e0; /* Slight hover effect */
}
.successBox {
    min-height: 1050px;
}
.paymentContainer button {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 26px;
    color: white;
    background-color: blue;
    border: 2px solid black;
    height: 80%;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}
.checkoutItem img {
    margin-left: 20px;
}
.cartBackground {
    width: 100%;
}
.cartBackground img {
    border-bottom: 2px solid black;
    height: 600px;
    opacity: 90%;
    width: 100%;
}
.cartBackground h1{
    position: absolute;
    color: black;
    font-size: 60px;
    letter-spacing: 10px;
    top: 250px;
    right: 25%;
    left:25%;
    background-color: rgb(214, 217, 218);
    border-radius: 20px;
}